.ipynb_checkpoints/
.Rproj.user/
data/COVID-19
images/
literature/
renv/

.Rhistory
.Rprofile
#explore.*
journal.md
notes.tex
thesis.tex

*.aux
*.bbl
*.bib
*.blg
*.log
*.out
*.synctex.gz
*.toc
