.ipynb_checkpoints/
.Rproj.user/
.vscode/

data/COVID-19/
literature/
renv/
rules_and_regulations/

.Rhistory
notes.tex
thesis.tex

*.aux
*.bbl
*.bcf
*.bib
*.blg
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
