.ipynb_checkpoints/
.Rproj.user/
.vscode/

data/COVID-19/
env/
images/
literature/
questions/
renv/

.Rhistory
.Rprofile
journal.md
notes.tex
thesis.tex

*.aux
*.bbl
*.bib
*.blg
*.log
*.out
*.synctex.gz
*.toc
